ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  gap: 20px;
}

a {
  text-decoration: none;
  background: lightblue;
  padding: 10px 20px;
  display: block;
  color: black;
}
